@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #fbfbfb; 
    font-family: "Roboto ",sans-serif;
}
section.chat_section{
    width: 800px;
    max-width: 90%;
    background:#fff ;
    box-shadow: 0 10px 15px -3px rgba(0,.0,.0,.0.1),0 4px 6px -2px rgba(0,.0,.0,.0.05);
}
.brand{
    padding: 20px;
    background: #f1f1f1;
    display: flex;
    align-items: center;

}
.brand h1{
    text-transform: uppercase;
    font-size: 20px;
    color: #444;
    margin-left: 10px;
}
.message_area{
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding-top:40px ;
}
textarea{
    width:100%;
    border: none;
    padding: 20px;
    font-size: 16px;
    outline: none;
    background: #e0dada;
}
.incoming p{
    background:rgb(22, 44, 85);
    color: white;
    padding: 10px;
    border-radius: 4px;

}
.outgoing p{
    background:  rgb(96, 126, 174);
    color: white;
    padding: 10px;
    border-radius: 4px;
   
}

.outgoing{
    margin-left: 450px;
}
.message h4{
 font-size: 14px;
}
.message{
    width:300px;
    margin-bottom: 10px;
}
#textarea{
    position: absolute;
    bottom: 8px;
    width:800px;
}
